global:
  imageRegistry: ""
  imageTag: ""
  imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

cronjob:
  schedule: "*/10 * * * *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 5

# Namespace configuration
namespace:
  create: true
  name: "pod-cleaner-namespace"
  annotations: {}
  labels: {}

image:
  repository: pod-cleaner
  pullPolicy: IfNotPresent
  tag: latest

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

env:
  PROMETHEUS_PUSHGATEWAY_URL: ""
  PROMETHEUS_JOB_NAME: "pod-cleaner"
  EXCLUDED_NAMESPACE: "kube-system"
  MAX_CONCURRENT: "10"